.anh1{
	text-align:center;
	height:300px;
	width:300px;
}
#ct1{
	text-indent:70px;
}
b::after{
	content: " VND";
}
.anh2{
	text-align:center;
	height:300px;
	width:300px;
}
.anh3{
	text-align:center;
	height:300px;
	width:300px;
}
.anh4{
	text-align:center;
	height:300px;
	width:300px;
}
.anh5{
	text-align:center;
	height:300px;
	width:300px;
}
.anh6{
	text-align:center;
	height:300px;
	width:300px;
}
.anh7{
	text-align:center;
	height:300px;
	width:300px;
}
.anh8{
	text-align:center;
	height:300px;
	width:300px;
}
.anh9{
	text-align:center;
	height:300px;
	width:300px;
}
.anh10{
	text-align:center;
	height:300px;
	width:300px;
}